h1, h2 {
    font-family: 'Fjalla One', sans-serif;
}

body
{
    text-align: center;
}
.container{
  background: linear-gradient(rgb(167, 59, 59) 0%, rgb(255, 149, 149) 100% )   
}
#app {
    background-color: rgb(255, 237, 237);
}

#myCarousel
{
    background-color: rgb(218, 205, 255);
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    font-family: 'Andika', sans-serif;
    margin-top: 15px;
    color : rgb(58, 16, 72);
    font-size: 20px;
}
